/* Paleta de colores
BAASE: 6374ae
100 #f2f7fb
200 #e7f0f8
300 #e7f0f8
400 #9cb6dd
500 #839dd1
600 #6a7fc1
800 #4a5989
900 #414e6e
950 #262c40
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.img-perfil{
    width: 15rem;
}
.bg-navbar, .bg-footer{
  background-color: #262c40;
}
.section {
    padding: 50px 0;
    position: relative;
}

h2 {
  font-weight: 900;
  color: #414e6e;
  font-size: 2rem;

}

.section-title h2 {
    font-weight: 700;
    color: #414e6e;
    font-size: 45px;
    border-left: 5px solid #9cb6dd;
    padding-left: 15px;
}
.social-network a{
  color: #6a7fc1;
}
.social-network a:hover{
  color: #414e6e;
}
.porfolio{
    padding: 30px;
}

.box {
  background: #ffffff;
  box-shadow: 0 0 1.25rem rgba(96, 6, 78, 0.08);
  border-radius: 10px;
}

.box ul {
  margin: 0;
  padding: 30px 20px;
  list-style: none;
}
.box hr {
 
  color: gray;
  margin: 10px;

}
.box h5 {
  font-weight: 700;
  color: #6a7fc1;
  font-size: 25px;
}
.box span {
  font-weight: 700;
  color: #9cb6dd;
  font-size: 15px;
}